<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pageTitle}</title>
    </h:head>
    
    <h:body>
        <f:ajax>
            <h:form id="gopigo" >
                <h:panelGrid columns="3" cellpadding="1" border="0" cellspacing="10">
                    <f:facet name = "header">
                        <h:outputText value = "#{msgs.pageHeader}" styleClass="outputText"/>
                    </f:facet>
                    <h:panelGroup />
                    <h:commandButton id="forwardButton" value="#{msgs.forward}"/>
                    <h:panelGroup />
                    <h:commandButton id="leftButton" value="#{msgs.left}" />
                    <h:commandButton id="stopButton" value="#{msgs.stop}" />
                    <h:commandButton id="rightButton" value="#{msgs.right}" />
                    <h:panelGroup />
                    <h:commandButton id="reverseButton" value="#{msgs.reverse}" />
                    <h:panelGroup />
                </h:panelGrid>
            </h:form>
        </f:ajax>
    </h:body>
</html>

