<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css" />
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pageTitle}</title>
    </h:head>

    <h:body>
        <f:ajax>
            <h:form id="gopigo" >
                <h:panelGrid columns="3" cellpadding="1" border="0" cellspacing="10">
                    <f:facet name = "header">
                        <h:outputText value = "#{msgs.pageHeader}" styleClass="outputText"/>
                    </f:facet>
                    <h:panelGroup />
                    <h:commandButton id="forwardButton" value="&#xf062;" class="fa fa-arrow-up fa-3x" />
                    <h:panelGroup />
                    <h:commandButton id="leftButton" value="&#xf060;" class="fa fa-arrow-left fa-3x" />
                    <h:commandButton id="stopButton" value="&#xf256;" class="fa fa-hand-stop-o fa-3x" />
                    <h:commandButton id="rightButton" value="&#xf061;" class="fa fa-arrow-right fa-3x" />
                    <h:panelGroup />
                    <h:commandButton id="reverseButton" value="&#xf063;" class="fa fa-arrow-down fa-3x" />
                    <h:panelGroup />
                </h:panelGrid>
            </h:form>
        </f:ajax>
    </h:body>
</html>

